.container{
    background-color:darkgray;}
.container h1{
    text-align: left;
    color :black;
    margin-bottom: 30px;
    text-transform: lowercase;
    border-bottom: 4px;}
    .container label{
        text-align: left;
        color: blue;
    }
    .container form button{
        padding: 3px;
        border: none;
        background-color:black;
        color: aliceblue;
    }